# Config must be in the format<key>=<value>. Edit config values only, don't change keys.
PROGRAM=bw
# Address we will use to connect to the server machine
SERVER_ADDRESS=euler01
# Address the client machine will use to connect to the server (may be different that SERVER_ADDRESS)
SERVER_ADDRESS_ALIAS=euler01
# Address we will use to connect to the client machine
CLIENT_ADDRESS=euler02
# Address the server machine will use to connect to the client machine if bidirectional(may be different that CLIENT_ADDRESS)
CLIENT_ADDRESS_ALIAS=euler02
KBYTES=10000
ROUNDS=10000
# Port to establish connections to
PORT=7878
USERNAME=lmartini
# File containing the ssh keys for the machine we will connect to
KEY_FILENAME=/home/lorenzo/.ssh/euler0x-key
PLOT=0
